@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: white;
}

body {
    background-image: url("images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-color: #223;
    color: white;
}

.background {
    padding: 0 7%;
    max-width: 900px;
}

section {
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    min-height: 20vh;
}

.header h1 {
    font-size: 40px;
    letter-spacing: 1rem;
}

.turn-mode {
    color: black
}

.input-area {
    background-color: #335;
    padding: 20px;
    border-radius: .4rem;
    width: 100%;
    ;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.form-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.todo-input {
    background-color: #335;
    border: #335;
    color: white;
    width: 100%;
}



.todo-status {
    padding: 1rem;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}



button {
    color: white;
    background-color: #335;
    border: 1px solid white;
    padding: .6rem 1.2rem;
    border-radius: 1.1rem;
}

.delete-item {
    background-color: white;
    color: black;
    padding: .1rem .6rem;
    border-radius: 50%;
    justify-content: end;
}

.todo-list {
    margin-top: 30px;
    background-color: #335;
    border-radius: .4rem;
    width: 86vw;
}

.todo-content {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid #888;
    justify-content: space-between;
}
.todo-content h3 {
    align-items: center;
    justify-content: center;
}
.fake-checkbox {
    background-color: white;
    padding: .1rem;
    border-radius: 50%;
    font-size: .5rem;
}

.action-zone{
    display: flex;
    gap: 1rem;
    overflow-wrap: break-word;
}
.delete-item{
    cursor: pointer;
}

/* Configurando o darkmode */
.white-mode{
    background-color: #ddd;
    color: black;
    background-image: url("images/bg-desktop-light.jpg");
}

.white-mode .input-area {
    background-color: white;
    padding: 20px;
    border-radius: .4rem;
    width: 100%;
}


.white-mode .todo-input {
    background-color: white;
    border: white;
    color: black;
    width: 900px;
}

.white-mode button {
    color: #335;
    background-color: white;
    border: 1px solid #335;
}

.white-mode .todo-list {
    margin-top: 30px;
    color: #335;
    background-color: white;
    border-radius: .4rem;
    width: 86vw;
}
.white-mode .span-text{
    color: black;
}

.white-mode .todo-status p{
    color: black
}